dist: xenial
language: python
cache: pip
python:
- '2.7'
- '3.4'
- '3.5'
- '3.6'
- '3.7'
- '3.8'
before_install:
- pip install pycodestyle coverage codecov
- if [[ "$TRAVIS_PYTHON_VERSION" == 2.7* ]]; then pip install mock; fi
install:
- pip install virtualenv --upgrade
- make install
- make test-install
script:
- pycodestyle --exclude=venv
- coverage run -m unittest discover
after_script:
- codecov
- make test
- coverage run tests/test_unit.py
after_success:
- codecov
deploy:
  provider: pypi
  user: __token__
  password: "$PYPI_TOKEN"
  skip_cleanup: true
  on:
    branch: main
    condition: "$TRAVIS_TEST_RESULT = 0"
    tags: true
    python: '3.6'
notifications:
  slack:
    if: branch = main
    on_pull_requests: false
    on_success: never
    on_failure: change
    rooms:
      secure: LQ9fGMn/Hfj//uFbQh8t/3yw2Ymq9WUWpErnWEZf++/cmrNNqvu/qaRTgadqzdHFIzqzO9A/HF88t+IRpih8aHmNBp4Sa1IXjWtNniXs9qZIGSL74kEgMpY+PIF5zO8LBKaAmZ1/h3NmAsJa616EMdpksr/Uk/WTs/98cmBrOxpdKrkqHtbf4WK5oJcakdeaGd9o9WWt8n2QoMAFoYSFV1BUDVyni3HJTTx+eLOXwInqWP+rRYBomVVyyYvJ1IOZWkZlnLY5BvudOpyzAeYI3KKpDw1O4Z0SlIEh2TmtakxgIK5qxnrDJ7B265dH2S5bk3oqjBNb1VA9Hiz/m02GB+pbJtiftYNCcTXN9pnIJHEhfRxpTTf+QMJrVPpHC+t3LUtpAZX8frcZKtDwkVxrG9y0WTEa4qZpWM0qisyHB72Q2rVXnWHWs1TxIsxYJCxzJ0bLB256LxLkvNxPFyNMmcmDFG0n4wVSWhems5+Dh1H191k9BaSMedtRrMu7CVPkessaEo2o/mpIYF4Xe7Y871VqGEPyzA1NG1Vttb18N0ZGUjxoqW4EuQrGxMY1/WWao91pTY0G8O8k5yyp12AkuzwhJXWQcjRsCG15YrarZmOxMsVG04BKGuFkiprV/0SRFg3sU+FUcBDv7Bvqg2JpKyzwhsEr+MleYquHCjg3/ZI=
